.link-list
  margin: $spacing-1
  text-transform: uppercase
  font-family: 'Roboto Condensed', sans-serif
  // font-family: 'Fjalla One', sans-serif
  font-size: 1.2rem
  a
    position: relative
    color: $body-copy
    font-weight: 700
    transition: color 100ms linear
    text-decoration: none
    &:hover
      color: white
      &:before
        display: block
        content: ''
        // background-image: url(/images/tablebg.png)
        // background-position: -31px -18px
        width: 2rem
        height: 2rem
        border-radius: 50%
        position: absolute
        top: -0.4rem
        left: -2.2rem

.standard-link-list
  li, dt, dd
    display: flex
    justify-content: flex-start
    align-items: flex-start
    gap: 1rem
    margin-bottom: 0.4rem
    @media (max-width: $breakpoint-sm)
      width: 100%
      justify-content: flex-end
      text-align: right
      margin-right: 0