html, body
  min-height: 100%
  background-color: white
  font-size: 20px

.shredlove-v4
  padding: 2rem
  display: flex
  align-items: flex-start
  .content-container
    padding: 1rem
    margin-left: 2rem
  .body-copy
    color: $body-copy
  
  .meta-list
    display: grid
    grid-template-columns: 6rem 1fr
    > dt
      text-align: right
      margin-right: 1rem
      margin-bottom: 1rem
      font-style: italic

  .meta-sublist
    display: grid
    grid-template-columns: 1fr 1fr
    > dt
      font-size: 1rem
      text-transform: capitalize
      margin-right: 1rem