html, body
  min-height: 100%
  background-color: white
  font-size: 20px

.shredlove-v4
  position: relative
  padding: 2rem 2rem 4rem
  display: flex
  align-items: flex-start
  @media (max-width: $breakpoint-md)
    padding: 1rem 1rem 4rem
  .main-footer
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    text-align: center
    font-size: 0.6em
    margin: 1rem
  @media (max-width: 480px)
    flex-direction: column
    align-items: center
  .content-container
    padding: 1rem
    margin-left: 2rem
    @media (max-width: 480px)
      margin-left: 0
      max-width: 100%
      iframe
        max-width: 100%
        max-height: 300px
  .body-copy
    color: $body-copy
  
  .meta-list
    display: grid
    grid-template-columns: 6rem 1fr
    > dt
      text-align: right
      margin-right: 1rem
      margin-bottom: 1rem
      font-style: italic
      white-space: nowrap
    @media (max-width: 480px)
      grid-template-columns: 1fr
      > dt
        text-align: left
        margin-bottom: 0.2rem
        margin-top: 1rem

  .meta-sublist
    display: grid
    grid-template-columns: 1fr 1fr
    > dt
      font-size: 1rem
      text-transform: capitalize
      margin-right: 1rem
    &.is-reverse
      direction: rtl
      text-align: left
      grid-auto-flow: dense
      grid-template-columns: 1fr auto
      > dt
        margin-right: 0
        margin-left: 1rem
  
  .info-text
    display: block
    margin-bottom: 1rem
    opacity: 0.5
  
  .aka
    display: block
    margin-bottom: -0.2rem
    opacity: 0.5
    font-size: 1rem
    text-decoration: none
  
  .media-wrapper
    margin-bottom: 2rem
  .video-wrapper
    background-color: #222

.homepage-hero
  display: flex
  flex-direction: column
  font-style: italic
  p
    line-height: 1.4rem
    @media (max-width: $breakpoint-md)
      margin-bottom: 0.6rem
.homepage-standout
  font-size: 1rem
  font-weight: bold