html, body
  min-height: 100%
  background-color: white
  font-size: 20px

.shredlove-v4
  padding: 2rem
  display: flex
  align-items: flex-start
  @media (max-width: 480px)
    flex-direction: column
    align-items: center
  .content-container
    padding: 1rem
    margin-left: 2rem
    @media (max-width: 480px)
      margin-left: 0
      max-width: 100%
      iframe
        max-width: 100%
        max-height: 300px
  .body-copy
    color: $body-copy
  
  .meta-list
    display: grid
    grid-template-columns: 6rem 1fr
    > dt
      text-align: right
      margin-right: 1rem
      margin-bottom: 1rem
      font-style: italic
    @media (max-width: 480px)
      grid-template-columns: 1fr
      > dt
        text-align: left
        margin-bottom: 0.2rem
        margin-top: 1rem

  .meta-sublist
    display: grid
    grid-template-columns: 1fr 1fr
    > dt
      font-size: 1rem
      text-transform: capitalize
      margin-right: 1rem
    &.is-reverse
      direction: rtl
      text-align: left
      grid-auto-flow: dense
      grid-template-columns: 1fr auto
      > dt
        margin-right: 0
        margin-left: 1rem
  
  .info-text
    display: block
    margin-bottom: 1rem
    opacity: 0.5